* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#131313;
}

.container {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 340px;
    height: 450px;
    margin: 30px;
    background: #005740;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'ZETACHAIN';
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 3.6em;
    font-weight: 900;
    color: #333;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .box::after {
    content: 'ZETA';
    position: absolute;
    bottom: 15px;
    right:80px;
    font-size: 4.5em;
    font-weight: 900;
    color: #333;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.5;
}

/*product*/
.container .box .name {
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   color: #fff;
   width: 100%;
   transform-style: preserve-3d;
   transform: translate3d(0,0,75px);
   -webkit-transform: translate3d(0,0,75px);
   -moz-transform: translate3d(0,0,75px);
   -ms-transform: translate3d(0,0,75px);
   -o-transform: translate3d(0,0,75px);
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   opacity: 0;
   z-index: 10;
}

.container .box:hover .name {
    top: 40px;
    opacity: 1;
}

/*button*/
.container .box .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    -webkit-transform: translate3d(-50%,0,75px);
    -moz-transform: translate3d(-50%,0,75px);
    -ms-transform: translate3d(-50%,0,75px);
    -o-transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}

.container .box:hover .btn {
    bottom: 20px;
    opacity: 1;
}

/*back*/
.container .box .back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 260px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
    -webkit-transform: translate3d(-50%,-50%,50px);
    -moz-transform: translate3d(-50%,-50%,50px);
    -ms-transform: translate3d(-50%,-50%,50px);
    -o-transform: translate3d(-50%,-50%,50px);
}

/*product*/
.container .box .product {
     position: absolute;
     top: 50%;
     left: 50%;
     max-width: 280px;
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
     z-index: 11;
     transform-style: preserve-3d;
     transform: translate3d(-50%,-50%,50px)  ;
     -webkit-transform: translate3d(-50%,-50%,50px)  ;
     -moz-transform: translate3d(-50%,-50%,50px)  ;
     -ms-transform: translate3d(-50%,-50%,50px)  ;
     -o-transform: translate3d(-50%,-50%,50px)  ;
     border-radius: 10%;
     -webkit-border-radius: 10%;
     -moz-border-radius: 10%;
     -ms-border-radius: 10%;
     -o-border-radius: 10%;
}

.container .box:hover .product {
     transform: translate3d(-50%,-50%,100px) rotate(15deg);
     -webkit-transform: translate3d(-50%,-50%,100px) rotate(15deg);
     -moz-transform: translate3d(-50%,-50%,100px) rotate(15deg);
     -ms-transform: translate3d(-50%,-50%,100px) rotate(15deg);
     -o-transform: translate3d(-50%,-50%,100px) rotate(15deg);
}

.container .box:nth-child(1) .back,
.container .box:nth-child(1) .btn
{
    background: #B2FE00;  
}

.container .box:nth-child(2) .back,
.container .box:nth-child(2) .btn{
    background: #4392e4;  
}

.container .box:nth-child(3) .back,
.container .box:nth-child(3) .btn{
    background: #FD5729;  
}